
<%- include('partials/header') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="mb-4 text-center">Cadastrar Funcionário</h2>

        <form method="POST" action="/funcionarios/novo">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="cargo" class="form-label">Cargo</label>
            <input type="text" name="cargo" id="cargo" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="jornada_base" class="form-label">Jornada Base (horas)</label>
            <input type="number" name="jornada_base" id="jornada_base" class="form-control" step="0.01" required>
          </div>

          <div class="mb-4">
            <label for="salario" class="form-label">Salário</label>
            <input type="number" name="salario" id="salario" class="form-control" step="0.01" required>
          </div>

          <button type="submit" class="btn btn-success w-100">Cadastrar</button>
        </form>

        <div class="text-center mt-3">
           <a href="/funcionarios" class="btn btn-secondary w-100">← Voltar</a>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>

